.navigation{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content:flex-end;
  margin-right: 20px;
  
}
li{
  list-style: none;
  padding-right: 20px;
}
.search{
  background-color: blue;
  color:white;
  height: 40px;
  width: 100px;
  margin-left: 20px;
}